@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="d-flex align-items-center flex-column bd-highlight mb-3">
        <h1 class="p-2 bd-highlight">Find your new best friend</h1>
        <h3 class="p-2 bd-highlight">Browse pets from our network of over 14,500 shelters and rescues.</h3>
    </div>
    
    <div class="d-flex justify-content-center">
        <a class="d-flex align-items-center flex-column bd-highlight mb-3 btn btn-primary btn-lg me-2" role="button" href="/dogs">
                <i class="fa-solid fa-dog"></i>
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dogs
        </a>
        <a class="d-flex align-items-center flex-column bd-highlight mb-3 btn btn-primary btn-lg me-2" role="button" href="/cats">
            <i class="fa-solid fa-cat"></i>
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Cats
        </a>
        <a class="d-flex align-items-center flex-column bd-highlight mb-3 btn btn-primary btn-lg me-2" role="button" href="/allanimals">
            <i class="fa-solid fa-paw"></i>
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> All animals
        </a>
        <a class="d-flex align-items-center flex-column bd-highlight mb-3 btn btn-primary btn-lg me-2" role="button" href="editanimal">
            <i class="fa-solid fa-house-medical"></i>
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Add animal
        </a>
        
    </div>
</div>